<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>mpz feedbacks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
</body>

</html>
